:root {
  --color-pancake: #d8cb9f;
  --color-pancake-dark-rgba: rgba(
    88,
    82,
    63,
    0.1
  );
  --color-butter: #eadd4d;
  --color-bg: #249d98;
  --color-plate: #d3ebea;
  --color-plate-darker: #c4e1e0;
  --animation-duration: 6000ms;
}

body {
  background-color: var(--color-bg);
  overflow: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loader {
  position: relative;
}

.tall-stack {
  animation: slide-plate-out var(--animation-duration) infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.plate {
  width: 230px;
  height: 14px;
  background: var(--color-plate);
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  animation: slide-plate-in var(--animation-duration) infinite;
  transform: translateX(100vw);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.plate-bottom {
  content: "";
  display: block;
  height: 50%;
  width: 140px;
  background: var(--color-plate-darker);
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}

.shadow {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -90px;
  z-index: 0;
  width: 180px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 80%;
  z-index: 0;
}

.butter {
  width: 48px;
  height: 12px;
  background: var(--color-butter);
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px var(--color-pancake-dark-rgba);
}

.pancake {
  width: 200px;
  height: 14px;
  background: var(--color-pancake);
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px var(--color-pancake-dark-rgba);
  margin: auto;
}

.falling-element {
  transform: translateY(-100vh);
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation: element-drop var(--animation-duration) infinite;
  position: relative;
}

.falling-element:nth-child(8) {
  animation-delay: 0.4s;
}
.falling-element:nth-child(7) {
  animation-delay: 0.62s;
}
.falling-element:nth-child(6) {
  animation-delay: 0.84s;
}
.falling-element:nth-child(5) {
  animation-delay: 1.06s;
}
.falling-element:nth-child(4) {
  animation-delay: 1.28s;
}
.falling-element:nth-child(3) {
  animation-delay: 1.5s;
}
.falling-element:nth-child(2) {
  animation-delay: 1.72s;
}
.falling-element:nth-child(1) {
  animation-delay: 1.94s;
}

@keyframes element-drop {
  0%,
  100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%,
  67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
  }
}

@keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
  }
  15%,
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-plate-out {
  65% {
    transform: translateX(0);
  }
  85%,
  100% {
    transform: translateX(-100vw);
  }
}
