name: Prettier Check
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      CI: true
      NODE_ENV: "test"
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
      BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
      NEXT_PUBLIC_CLERK_SIGN_IN_URL: "/login/employee"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run prettier
        run: npm run format:check
